<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />

        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />

        <!-- Scrolling behaviour (Legacy) -->
        <script>
            function updateScroll() {
                var element = document.getElementById('overlay-scroll')
                element.scrollTop = element.scrollHeight
            }
            setInterval(updateScroll, 500)
        </script>

        <title>DGX Chatbot</title>
    </head>
    <body>
        <div class="container-fluid w-75 mh-75 py-4" style="background: rgba(0, 0, 0, 0) !important">
            <header class="pb-3 mb-4 border-bottom" style="background: rgba(0, 0, 0, 0) !important">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="{{ url_for('static', filename='icon.png') }}" style="height: 2rem" />
                    <span class="fs-4 text-white" style="margin-left: 0.5rem">NVIDIA AI Hub</span>
                </a>
            </header>
            <div class="p-5 bg-light mh-75 rounded-3" style="background: rgba(0, 0, 0, 0.5) !important">
                <div
                    class="overflow-auto"
                    style="height: 35rem; scroll-behavior: smooth; display: flex; flex-direction: column-reverse"
                >
                    <div class="container-fluid rounded mt-2">
                        {% for i in range(dgxData["count"]) %}
                        <!-- User queries -->
                        {% if dgxData["queries"][i] != None %}
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card float-end rouded" style="display: inline-block; max-width: 75%">
                                    <div class="card-body">
                                        <p class="card-text mb-0">{{ dgxData["queries"][i] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Chatbot responses -->
                        <div class="row mb-3">
                            <h5 class="text-white py-1">
                                DGX Chatbot
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-robot"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"
                                    />
                                    <path
                                        d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"
                                    />
                                </svg>
                            </h5>
                            <div class="col">
                                <div class="card float-left rounded-2" style="display: inline-block; max-width: 75%">
                                    <div class="card-body" style="background-color: rgba(50, 205, 20, 0.3) !important">
                                        {% if dgxData["responses"][i] != None %} {% for resp in dgxData["responses"][i]
                                        %} {% if resp != None %} {% if resp != " " %}
                                        <p class="card-text mb-0">{{ resp }}</p>
                                        {% else %} <br />
                                        {% endif %} {% endif %} {% endfor %} {% else %}
                                        <p class="card-text mb-0">
                                            Sorry, I don't quite get what you asked. Can you rephrase?
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-11">
                        <form action="/dgxSubmit" method="post">
                            <div class="input-group input-group-lg">
                                <input
                                    id="dgxQueryInput"
                                    type="text"
                                    name="dgx_query"
                                    placeholder="Hello, DGX!"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg"
                                />

                                <!-- Send message -->
                                <button
                                    class="btn btn-outline-secondary"
                                    type="submit"
                                    value="submit"
                                    id="button-addon2"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-send-fill"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <div class="input-group input-group-lg">
                            <button id="dgxAudioControl" class="btn btn-outline-secondary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-mic"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"
                                    />
                                    <path
                                        d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <p id="micStatus" class="text-white py-3">
                        Speech recognition is in offline mode. Press
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-mic"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"
                            />
                            <path
                                d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"
                            />
                        </svg>
                        to start recording, and press it again to stop recording.
                    </p>
                    <span id="micMsg" class="text-muted mt-0"></span>
                </div>

                <div>
                    <script>
                        const uploadURL = "{{ url_for('dgxUpload') }}"
                        const downloadLink = document.getElementById('download')
                        const stopButton = document.getElementById('dgxAudioControl')
                        var microphoneStatus = 'Not Recording' // init state
                        document.getElementById('micMsg').innerHTML =
                            'Streaming recognition implementation is in progress. Current offline recognition may be slow, use it at your own risk'

                        const handleSuccess = function (stream) {
                            // microphoneStatus = !microphoneStatus
                            const options = { mimeType: 'audio/webm' }
                            let recordedChunks = []
                            let mediaRecorder = new MediaRecorder(stream, options)

                            mediaRecorder.addEventListener('dataavailable', function (e) {
                                if (e.data.size > 0) recordedChunks.push(e.data)
                            })

                            mediaRecorder.addEventListener('stop', function () {
                                let blob = new Blob(recordedChunks, { type: 'audio/webm' })
                                let formData = new FormData()
                                formData.append('audio_file', blob, 'audio_file.wav')
                                fetch('/dgxUpload', { method: 'POST', body: formData, cache: 'no-cache' }).then(
                                    (resp) => {
                                        if (resp.status == 200) {
                                            window.location.reload(true)
                                        }
                                    }
                                )
                            })
                            stopButton.addEventListener('click', function () {
                                if (microphoneStatus == 'Recording') {
                                    mediaRecorder.stop()
                                    microphoneStatus = 'Not Recording'
                                    document.getElementById('micStatus').innerHTML =
                                        'Microphone Status: ' + microphoneStatus
                                } else {
                                    mediaRecorder.start()
                                    microphoneStatus = 'Recording'
                                    document.getElementById('micStatus').innerHTML =
                                        'Microphone Status: ' + microphoneStatus
                                }
                            })
                        }
                        navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(handleSuccess)
                    </script>
                </div>
            </div>
            <footer class="pt-3 mt-4 text-muted border-top">&copy; 2021</footer>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
